<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="BDD Flight Booking">
    <test name="Blaze Flight Booking">
        <!--<parameter name="emailid" value="tester456@gmail.com"/>
        <parameter name="password" value="test@123"/>-->
        <classes>
            <class name="TestRunners.TestRunner"/>
        </classes>
    </test> <!-- Test -->
</suite> <!-- Suite -->
